.item{
    list-style: none;
    box-shadow: 0px 0px 1px 0px;
    padding: 6px;
    margin: 3px;
    border-radius: 15px;
    width: auto;
    
}
.name-container{
    display: flex;
    align-items: center;
    height: 30px;
}
.profile{
    width: 30px;
    height: 30px;
    margin-right: 5px;
}
.name{
    font-size: 18px;
    font-family: 'Roboto';
}
.like-icon{
    font-size: 25px;
}
.like{
    cursor: pointer;
    border-width: 0px;
    background-color: transparent;
}
.like-container{
    display: flex;
    align-items: center;
}
.like-count{
    font-size: 15px;
}
@media (max-width:762px){
 

}